<!DOCTYPE html>
<html ng-app="reform-build" ng-controller="Main" lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->


	<link href="assets/css/reform.min.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->


	<title ng-bind-html="courseObj.course.global_settings.title | to_trusted"></title>
	<style ng-bind-html="themeObj | to_trusted"></style>
</head>

<body id="reform-app" ng-class="{'accessible':courseObj.course.global_settings.accessible}">

	<div class="app-content-loading" ng-show="loading">
		<img class="img-responsive" src="assets/images/loader.gif" />
		<div class="loadingText" ng-bind-html="loadMsg | to_trusted">Loading...0%</div>
	</div>
	<div id="accessblock" aria-label="" tabindex="0" accessblock></div>
	<div class="app-content" ng-show="!loading">
		<div class="app-bg app-bg-{{originalPath}}" ng-class="courseObj.course.pages[originalPath].jsonData.properties.bgclass">
			<div class="upper-bg">
			</div>
			<div class="lower-bg">
			</div>
			<div class="header-bg"></div>
		</div>
		<div id="main-wrap" ng-class="courseObj.course.pages[originalPath].jsonData.properties.class">

			<div id="header" ng-if="courseObj.course.header" ng-model="courseObj.course.header" blockid="global" block></div>
			<div id="page-wrap">
				<div class="scope_container page" id="{{originalPath}}" ng-class="{{originalPath}}" ng-view></div>
			</div>
			<div id="footer" ng-if="courseObj.course.footer" ng-model="courseObj.course.footer" blockid="global" block></div>

		</div>
		<div id="modal" lockblock ng-show="modalShow" class="modal" ng-init="blockid = 'global'" modal></div>
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

	<script type="text/javascript">var _app_version='v1531213447754'</script>
	<script src="assets/js/reform.min.js"></script>


</body>

</html>
<script type="text/ng-template" id="templates/plain.html">
<div ng-repeat="block in blocks" class="block_wrap">

	<div class="xeditor" ng-init="model = blocks; idx = $index;" templateurl="editcontrols_add_comp_fxd" editcontrols></div>
	<div ng-model="block" blockid="{{$index}}" block></div>


</div></script>

<script type="text/ng-template" id="templates/components/accessblock.html">
<div id="accessible_wrap" class="text-center" ng-if="tab_enabled" lockblock>
    <div class="wrap">
        <div class="title" tabindex="0">
            Would you like to turn accessibility on?
        </div>
        <div class="btn_wrap">
            <div aria-label="Yes" class="btn" ng-click="set_accessible('yes')" tabindex="0">
                Yes
            </div>
            <div aria-label="No" class="btn" ng-click="set_accessible('no')" tabindex="0">
                No
            </div>
        </div>
    </div>

</div></script>

<script type="text/ng-template" id="templates/components/audioblock.html">
<div class="audio-btn" viewport-leave="stopCurrentAudio(data.audioId)" viewport-enter="playAudioInView(data.audioId)">
	<div class="btn_wrap">
		<!-- <img ng-click="playAudio(data.audioId)" ng-show="audioPlaying != true" src="assets/images/sound_mute.png">
		<img ng-click="pauseAudio(data.audioId)" ng-show="audioPlaying == true" src="assets/images/sound.png"> -->
	</div>
</div></script>

<script type="text/ng-template" id="templates/components/block.html">
<div class="block" ng-style="set_background(data.prop)" id="block_{{blockid}}" ng-class="data.prop.class">
	<div class="comp_container" ng-if="data.components.length > 0" ng-style="set_background(data.prop.holder)" ng-class="data.prop.holder.class">
		<div ng-repeat="comp in data.components" class="component" reformable ng-class="comp.prop.fluid">
			<div class="pull-right xeditor" ng-init="model = data.components; idx = $index;" templateurl="editcontrols_component_fxd"
			 editcontrols></div>
			<div compblock ng-model="comp" ng-if="!comp.prop.hidden" type="{{comp.type}}" compid="{{$index}}" blockid="{{blockid}}" class="clearfix"
			 ng-class="comp.prop.class" ng-style="comp.css.normal">
				<div id="{{resource.compid+'_audio'}}" ng-if="data.prop.audioId" audioblock type="audioblock" ng-init="model = data.prop; compId = compid; pageid = data.pageid"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="comp_container" ng-if="data.components.length == 0">
		<div class="row">
			<h1 class="emptymessage xeditor">Please add a component</h1>
		</div>
	</div>
</div></script>

<script type="text/ng-template" id="templates/components/buttonblock.html">
<div class="button" ng-click="onclick(data.prop.onclick)" aria-label="{{data.prop.accessible.alt}}" tabindex="{{data.prop.accessible.tabindex}}">
	<span ng-if="data.prop.text" ng-bind-html="data.prop.text | to_trusted"></span>
	<img ng-if="data.prop.imageId" ng-src="{{resource.path_route.image+data.prop.imageId}}" alt="">
</div></script>

<script type="text/ng-template" id="templates/components/footer.html">
</script>

<script type="text/ng-template" id="templates/components/global_help.html">
<div class="global_help">
	<div class="pop_wrap">
		<img class="bg" src="assets/images/global_help.png" alt="">
		<div class="close_btn" ng-if="data.prop.jumpTo" ng-click="resource.navTo(data.prop.jumpTo)">
			Close
		</div>
		<div class="close_btn" ng-if="!data.prop.jumpTo" ng-click="resume_content();">
			Close
		</div>
		<div class="topic_title">
			Identify the environmental impacts
		</div>
		<div class="item_wrap">
			<div class="item item_1">
				The topic title will be displayed here.
				<div class="arrow">
					<img src="assets/images/up_arrow.png" alt="">
				</div>
			</div>
			<div class="item item_2">
				Select this icon to launch the Help screen.
				<div class="arrow">
					<img src="assets/images/up_arrow.png" alt="">
				</div>
			</div>
			<div class="item item_3">
				Select this icon to exit the course.
				<div class="arrow">
					<img src="assets/images/up_arrow.png" alt="">
				</div>
			</div>
			<div class="item item_4">
				Select this icon to access the course menu.
				<div class="arrow">
					<img src="assets/images/down_arrow.png" alt="">
				</div>
			</div>
			<div class="item item_5">
				Select this icon to view a transcript of the audio on a screen.
				<div class="arrow">
					<img src="assets/images/down_arrow.png" alt="">
				</div>
			</div>
			<div class="item item_6">
				Select this button to mute/unmute the audio within a screen.
				<div class="arrow">
					<img src="assets/images/down_arrow.png" alt="">
				</div>
			</div>
			<div class="item item_7">
				Select this icon to visit the previous screen.
				<div class="arrow">
					<img src="assets/images/down_arrow.png" alt="">
				</div>
			</div>
			<div class="item item_8">
				Select this icon to visit the next screen.
				<div class="arrow">
					<img src="assets/images/down_arrow.png" alt="">
				</div>
			</div>

		</div>
		<div class="itext">Close this screen to return to the course</div>
		<div class="ost">How to navigate</div>
		<div class="labels">
			<div class="next">Next</div>
			<div class="back">Back</div>
		</div>
	</div>
</div></script>

<script type="text/ng-template" id="templates/components/headtextblock.html">
<div class="text_wrap" ng-if="data.prop.text" ng-bind-html="data.prop.text | to_trusted"></div>
<div style="color: #fff;
font-size: 14px;
margin-top: -16px;
margin-left: 1px;" class="title" ng-if="data.prop.title" ng-bind-html="data.prop.title | to_trusted" tabindex="0" aria-label="Screen Title {{data.prop.title}}"></div></script>

<script type="text/ng-template" id="templates/components/linearmcqblock.html">
<div class="mcq_block">
	<div class="bg">
		<img ng-src="{{resource.path_route.image+data.prop.imageId}}" alt="">
	</div>
	<div class="quiz_cont">
		<div class="title_head" tabindex="-1">Learning points</div>
		<div class="question">

			<div class="quest question_text">
				<div class="qtext" ng-bind-html="data.prop.question | to_trusted" tabindex="0"></div>
				<div class="itext_wrap clearfix">
					<img class="info_icon" ng-src="{{resource.path_route.image+data.prop.info.imageId}}" alt="">
					<div class="itext" ng-bind-html="data.prop.itext | to_trusted" tabindex="0"></div>
				</div>

			</div>
			<div class="option_wrap" ng-class="{'checkbox_wrap':(answerCount>1)}">
				<div class="option reform-theme-border reform-theme-selected" ng-repeat="option in data.prop.options">
					<input class="btn input_field" type="{{(answerCount>1)?'checkbox':'radio'}}" ng-click="optionClicked(option)" id="{{$index}}">
					<div ng-click="optionClicked(option)" class="btn" ng-class="{'selected':(option.selected==true), 'inline-block':data.prop.inline, '{{option.class}}': option.class }">
					</div>
					<label for="{{$index}}" class="opt_text" scrollblock data-height="155px" data-tabindex="-1">
						<div class="content" ng-bind-html="option.text | to_trusted"></div>
					</label>
				</div>
			</div>
			<div class="submit btn" ng-show="enableSubmit" ng-click="onSubmit()" tabindex="0">Submit</div>
			<div class="submit btn disabled" ng-show="enableSubmit!=true" tabindex="0" aria-label="Submit disabled">Submit</div>
		</div>
	</div>
</div></script>

<script type="text/ng-template" id="templates/components/mcqblock.html">
<div class="mcq_block">
	<div class="bg">
		<img ng-src="{{resource.path_route.image+data.prop.imageId}}" alt="">
	</div>
	<div class="quiz_cont">
		<div class="question">
			<div class="character">
				<img ng-src="{{resource.path_route.image+data.prop.character.imageId}}" alt="">
			</div>
			<div class="quest question_text">
				<div class="qtext" ng-bind-html="data.prop.question | to_trusted" tabindex="0"></div>
				<img class="info_icon" ng-src="{{resource.path_route.image+data.prop.info.imageId}}" alt="">
				<div class="itext" ng-bind-html="data.prop.itext | to_trusted" tabindex="0"></div>
			</div>
			<div class="option_wrap" ng-class="{'checkbox_wrap':(answerCount>1)}">
				<div class="option reform-theme-border reform-theme-selected" ng-repeat="option in data.prop.options">
					<input class="btn input_field" type="{{(answerCount>1)?'checkbox':'radio'}}" ng-click="optionClicked(option)" id="{{$index}}">
					<div ng-click="optionClicked(option)" class="btn" ng-checked="leader" ng-class="{'selected':(option.selected==true), 'inline-block':data.prop.inline, '{{option.class}}': option.class }">
					</div>
					<label for="{{$index}}" class="opt_text" scrollblock data-height="155px" data-tabindex="-1">
						<div class="content" ng-bind-html="option.text | to_trusted"></div>
					</label>
				</div>
			</div>

			<div class="submit btn" ng-show="enableSubmit" ng-click="onSubmit()" tabindex="0">Submit</div>
			<div class="submit btn disabled" ng-show="enableSubmit!=true" tabindex="0" aria-label="Submit disabled">Submit</div>
		</div>
	</div>
</div></script>

<script type="text/ng-template" id="templates/components/menu.html">
<div class="menu">
    <div class="wrap_menu" tabindex="0" aria-label="{{transcript}}">
        <div class="head">Menu</div>
        <div class="text_wrap menu_text_wrap">Each of these characters represents a scenario in this module.</div>
        <div class="itext_wrap menu_itext_wrap" ng-bind-html="itext | to_trusted"></div>
    </div>
    <div class="item_wrap">
        <div class="item" ng-repeat="item in data.prop.items" ng-class="{'disabled':!getPagesStatus(item.enabledId)}">
            <div class="img_wrap" ng-show="getPagesStatus(item.enabledId)" tabindex="0" aria-label="{{item.accessible.alt}}" ng-click="resource.navTo(item.navTo)">
                <img class="character" ng-src="{{resource.path_route.image+item.imageId}}">
            </div>
            <div class="img_wrap" ng-show="!getPagesStatus(item.enabledId)" tabindex="0" aria-label="{{item.accessible.alt}} disabled">
                <img class="character" ng-src="{{resource.path_route.image+item.disabled.imageId}}">
            </div>
            <img class="visited" ng-show="getPagesStatus(item.checkForPages)" ng-src="{{resource.path_route.image+data.prop.visited.imageId}}">
            <div class="time_wrap">
                <div class="title" ng-bind-html="item.title | to_trusted"></div>
                <img class="time_icon" ng-src="{{resource.path_route.image+data.prop.time.imageId}}">
                <div class="duration" ng-bind-html="item.duration | to_trusted"></div>
            </div>
        </div>

    </div>


    <!-- <div class="head">Menu</div> -->
</div></script>

<script type="text/ng-template" id="templates/components/modal.html">
<div class="pop_wrap" ng-if="type == 'modal'" ng-class="data.class">
	<div class="cont" ng-class="{'small_head':!data.title, 'top_head':!data.title_image}">
		<div class="title" ng-if="data.title" ng-bind-html="data.title | to_trusted " tabindex="0">

		</div>
		<div class="content_wrap" scrollblock data-height="365px">
			<div class="content" ng-bind-html="data.text | to_trusted">

			</div>
		</div>
		<div class="text-center">
			<div class="close_btn" ng-click="cancel()" ng-class="{'disabled':data.close_disabled}" tabindex="0" aria-label="Continue">Continue</div>
		</div>
	</div>

</div>
<div class="resumePop" ng-if="type == 'resume'">
	<div class="resume_hold">
		<div class="resume_body">
			<div class="resume_text" tabindex="0">Resume from the screen last visited?</div>
		</div>
		<div class="btn_wrap">
			<div aria-label="Yes" class="close-dialog btn btn-success modal_btn" ng-click="resumeCourse('yes')" alt="clickable" tabindex="0">
				<h2>YES</h2>
			</div>
			<div aria-label="No" class="close-dialog btn btn-primary cancel_btn modal_btn" ng-click="resumeCourse('no')" tabindex="0">
				<h2>NO</h2>
			</div>
		</div>
	</div>
</div></script>

<script type="text/ng-template" id="templates/components/nav_button.html">
<div class="button hideifdisabled" ng-click="onclick(data.prop.onclick)" aria-label="{{data.prop.accessible.alt}}" tabindex="{{data.prop.accessible.tabindex}}">
	<p class="label" ng-bind-html="data.prop.text | to_trusted"></p>
</div>
<div class="button button_disabled" aria-label="{{data.prop.accessible.alt}} disabled" tabindex="{{data.prop.accessible.tabindex}}">
	<p class="label" ng-bind-html="data.prop.text | to_trusted"></p>
</div></script>

<script type="text/ng-template" id="templates/components/pictureblock.html">
<div class="picture-wrap">
	<img ng-if="data.prop.imageId" ng-src="{{resource.path_route.image+data.prop.imageId}}" aria-label="{{data.prop.accessible.alt}}"
	 tabindex="{{data.prop.accessible.tabindex}}">
</div></script>

<script type="text/ng-template" id="templates/components/spriteblock.html">
<div id="sprite_holder"></div></script>

<script type="text/ng-template" id="templates/components/t0_cnr.html">
<div class="accordion_wrap">
    <div class="item_wrap" ng-init="show_active = 0">
        <div class="item" ng-repeat="item in data.prop.items" ng-class="{'active' : item.selected}">
            <div class="tab_btn" ng-click="item_clicked(item);" ng-bind-html="item.title | to_trusted" tabindex="0" aria-label="{{item.title}}">

            </div>
            <div class="desc" ng-class="{'open' : item.selected}" ng-show="item.selected">
                <div class="text_wrap" ng-bind-html="item.text | to_trusted" tabindex="0"></div>
            </div>
        </div>

    </div>

    <div class="itext" ng-if="data.status == 0">Select each button to learn more about this module.</div>
    <div class="itext_wrap" ng-if="data.status == 1" tabindex="0" aria-label="Itext Select Continue to proceed.">Select
        <b>Continue</b> to proceed.</div>
    <div class="button" ng-click="onclick(data.prop.onclick)" ng-if="data.status == 1" tabindex="0" aria-label="Continue">
        <span>Continue</span>
    </div>
</div></script>

<script type="text/ng-template" id="templates/components/textblock.html">
<div class="text_wrap" ng-if="data.prop.text || data.prop.accessible.alt" ng-bind-html="data.prop.text | to_trusted" aria-label="{{data.prop.accessible.alt}}"
    tabindex="{{data.prop.accessible.tabindex}}"></div>
<div class="itextblock" ng-if="data.prop.itext" ng-bind-html="data.prop.itext | to_trusted" aria-label="{{data.prop.accessible.alt}}"
    tabindex="{{data.prop.accessible.tabindex}}"></div></script>

<script type="text/ng-template" id="templates/components/transcriptblock.html">
<div class="transcript_cont">


	<div class="trans_body">
		<div class="scrollblock" scrollblock data-height="223px" style="padding: 10px 5px 10px 10px;">
			<div class="content" ng-bind-html="data.prop.text | to_trusted"></div>
		</div>

	</div>
	<div class="trans_header">
		<p class="head_text" tabindex="-1">Transcript</p>
		<div class="close_btn" ng-click="data.prop.hidden = true" tabindex="0" aria-label="close transcript">
			<a>
				X
			</a>

		</div>
	</div>

</div></script>

<script type="text/ng-template" id="templates/components/ui_button.html">
<div class="button" ng-click="onclick(data.prop.onclick)" aria-label="{{data.prop.accessible.alt}}" tabindex="{{data.prop.accessible.tabindex}}">
	<p ng-bind-html="data.prop.text | to_trusted"></p>
</div></script>

<script type="text/ng-template" id="templates/components/videoblock.html">
<div class="video-wrap" ng-style="data.css.normal">
	<video id="my-player{{resource.compid}}" class="video-js" controls preload="auto" data-setup='{}' ng-click="pauseVideo()"
	 tabindex="0" aria-label="knock">
		<source ng-src="{{resource.path_route.video + data.prop.videoPath}}" type="video/mp4"></source>
		<p class="vjs-no-js">
			To view this video please enable JavaScript, and consider upgrading to a web browser that
			<a href="http://videojs.com/html5-video-support/" target="_blank">
				supports HTML5 video
			</a>
		</p>
		<!-- <track kind="captions" src="assets/video/captions.en.vtt" srclang="en" label="English" default></track> -->
	</video>

	<div class="comp_cont" ng-if="compObject">
		<div class="component">
			<div compblock ng-model="compObject" ng-if="!compObject.prop.hidden" type="{{compObject.type}}" compid="{{resource.compid+'_inner'}}"
			 blockid="{{resource.blockid}}" class="clearfix" ng-class="compObject.prop.class" ng-style="compObject.css.normal"></div>
		</div>

	</div>


</div></script>
